<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LETTERLY_WORKER_SCHEME</key>
	<string>$(LETTERLY_WORKER_SCHEME)</string>
	<key>LETTERLY_WORKER_HOST</key>
	<string>$(LETTERLY_WORKER_HOST)</string>
</dict>
</plist>
